
<form class="form" action="/bubbletea/{{id}}" method="post">

  <legend>Size:</legend>
  <label for="size">Small</label>
  <input type="radio" id="size" name="size" value="small">

  <label for="size">Large</label>
  <input type="radio" id="size" name="size" value="large">

  <legend>Temperature:</legend>

  <label for="temp">Hot</label>
  <input type="radio" id="temp" name="temp" value="hot">
  <label for="temp">Cold</label>
  <input type="radio" id="temp" name="temp" value="cold">

  <label for="ice">Ice: </label>
  <select name="ice" id="ice">
    <option value="No Ice">No Ice</option>
    <option value="30%">30%</option>
    <option value="70%">70%</option>
    <option value="Standard">Standard Ice</option>
  </select>

  <label for="sugar">Sugar: </label>

  <select name="sugar" id="sugar">
    <option value="no sugar">No sugar</option>
    <option value="30%">30% Sugar</option>
    <option value="70%">70% Sugar</option>
    <option value="standard">Standard sugar</option>
  </select>

  <label for="topping">Topping: </label>

  <select name="topping" id="topping">
    <option value="bubbles">Bubbles</option>
    <option value="sago">Sago</option>
    <option value="taro">Taro</option>
    <option value="pudding">Pudding</option>
    <option value="jelly">Jelly</option>
    <option value="secret topping">Secret Topping</option>
  </select>

  <input type="submit" name="" value="Submit">

</form>
  

