<img class="homepage-img"src="/images/homepage-img.png">

<div class="link">
  
<a href="/bubbletea/menu">check our menu</a>
</div>
{{!-- <a class="new-flavor" href="#">suggest a new flavor to win a free customised babble tea!</a> --}}