<div class="order-list">
  <p>Your order:</p>
  <ol>
    {{#each orders}}
     <li>{{>order}}</li>
    {{/each}}
  </ol>
</div>

{{!-- Should write new .JSON with just the order and loop through display each --}}