<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>bubble tea</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="data:,">
  </head>
  <body>
    <div class="app">
      
      {{>header}}
      {{{body}}}
     
    </div>
  </body>
  <footer>{{>footer}}</footer>
</html>
